@charset "utf-8";
/* float
------------------------------------------------------------*/
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
/* margin,padding
------------------------------------------------------------*/
.ml0 { margin-left: 0px!important; }
.ml5 { margin-left: 5px!important; }
.ml10 { margin-left: 10px!important; }
.ml20 { margin-left: 20px!important; }
.ml30 { margin-left: 30px!important; }
.ml40 { margin-left: 40px!important; }
.ml50 { margin-left: 50px!important; }
.ml60 { margin-left: 60px!important; }
.ml70 { margin-left: 70px!important; }
.ml80 { margin-left: 80px!important; }
.ml90 { margin-left: 90px!important; }
.ml100 { margin-left: 100px!important; }
.ml110 { margin-left: 110px!important; }
.ml120 { margin-left: 120px!important; }
.ml130 { margin-left: 130px!important; }
.ml140 { margin-left: 140px!important; }
.ml150 { margin-left: 150px!important; }
.ml160 { margin-left: 160px!important; }
.ml170 { margin-left: 170px!important; }
.ml180 { margin-left: 180px!important; }
.ml190 { margin-left: 190px!important; }
.ml200 { margin-left: 200px!important; }
.ml210 { margin-left: 210px!important; }
.ml220 { margin-left: 220px!important; }
.ml230 { margin-left: 230px!important; }
.ml240 { margin-left: 240px!important; }
.ml250 { margin-left: 250px!important; }
.ml260 { margin-left: 260px!important; }
.ml270 { margin-left: 270px!important; }
.ml280 { margin-left: 280px!important; }
.ml290 { margin-left: 290px!important; }
.ml300 { margin-left: 300px!important; }
.mt0 { margin-top: 0px!important; }
.mt5 { margin-top: 5px!important; }
.mt10 { margin-top: 10px!important; }
.mt20 { margin-top: 20px!important; }
.mt30 { margin-top: 30px!important; }
.mt40 { margin-top: 40px!important; }
.mt50 { margin-top: 50px!important; }
.mt60 { margin-top: 60px!important; }
.mt70 { margin-top: 70px!important; }
.mt80 { margin-top: 80px!important; }
.mt90 { margin-top: 90px!important; }
.mt100 { margin-top: 100px!important; }
.mt110 { margin-top: 110px!important; }
.mt120 { margin-top: 120px!important; }
.mt130 { margin-top: 130px!important; }
.mt140 { margin-top: 140px!important; }
.mt150 { margin-top: 150px!important; }
.mt160 { margin-top: 160px!important; }
.mt170 { margin-top: 170px!important; }
.mt180 { margin-top: 180px!important; }
.mt190 { margin-top: 190px!important; }
.mt200 { margin-top: 200px!important; }
.mt210 { margin-top: 210px!important; }
.mt220 { margin-top: 220px!important; }
.mt230 { margin-top: 230px!important; }
.mt240 { margin-top: 240px!important; }
.mt250 { margin-top: 250px!important; }
.mt260 { margin-top: 260px!important; }
.mt270 { margin-top: 270px!important; }
.mt280 { margin-top: 280px!important; }
.mt290 { margin-top: 290px!important; }
.mt300 { margin-top: 300px!important; }
.mr0 { margin-right: 0px!important; }
.mr5 { margin-right: 5px!important; }
.mr10 { margin-right: 10px!important; }
.mr15 { margin-right: 15px!important; }
.mr20 { margin-right: 20px!important; }
.mr30 { margin-right: 30px!important; }
.mr40 { margin-right: 40px!important; }
.mr50 { margin-right: 50px!important; }
.mr60 { margin-right: 60px!important; }
.mr70 { margin-right: 70px!important; }
.mr80 { margin-right: 80px!important; }
.mr90 { margin-right: 90px!important; }
.mr100 { margin-right: 100px!important; }
.mr110 { margin-right: 110px!important; }
.mr120 { margin-right: 120px!important; }
.mr130 { margin-right: 130px!important; }
.mr140 { margin-right: 140px!important; }
.mr150 { margin-right: 150px!important; }
.mr160 { margin-right: 160px!important; }
.mr170 { margin-right: 170px!important; }
.mr180 { margin-right: 180px!important; }
.mr190 { margin-right: 190px!important; }
.mr200 { margin-right: 200px!important; }
.mr210 { margin-right: 210px!important; }
.mr220 { margin-right: 220px!important; }
.mr230 { margin-right: 230px!important; }
.mr240 { margin-right: 240px!important; }
.mr250 { margin-right: 250px!important; }
.mr260 { margin-right: 260px!important; }
.mr270 { margin-right: 270px!important; }
.mr280 { margin-right: 280px!important; }
.mr290 { margin-right: 290px!important; }
.mr300 { margin-right: 300px!important; }
.mb0 { margin-bottom: 0px!important; }
.mb5 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb50 { margin-bottom: 50px!important; }
.mb60 { margin-bottom: 60px!important; }
.mb70 { margin-bottom: 70px!important; }
.mb80 { margin-bottom: 80px!important; }
.mb90 { margin-bottom: 90px!important; }
.mb100 { margin-bottom: 100px!important; }
.mb110 { margin-bottom: 110px!important; }
.mb120 { margin-bottom: 120px!important; }
.mb130 { margin-bottom: 130px!important; }
.mb140 { margin-bottom: 140px!important; }
.mb150 { margin-bottom: 150px!important; }
.mb160 { margin-bottom: 160px!important; }
.mb170 { margin-bottom: 170px!important; }
.mb180 { margin-bottom: 180px!important; }
.mb190 { margin-bottom: 190px!important; }
.mb200 { margin-bottom: 200px!important; }
.mb210 { margin-bottom: 210px!important; }
.mb220 { margin-bottom: 220px!important; }
.mb230 { margin-bottom: 230px!important; }
.mb240 { margin-bottom: 240px!important; }
.mb250 { margin-bottom: 250px!important; }
.mb260 { margin-bottom: 260px!important; }
.mb270 { margin-bottom: 270px!important; }
.mb280 { margin-bottom: 280px!important; }
.mb290 { margin-bottom: 290px!important; }
.mb300 { margin-bottom: 300px!important; }
.pl0 { padding-left: 0px!important; }
.pl5 { padding-left: 5px!important; }
.pl10 { padding-left: 10px!important; }
.pl20 { padding-left: 20px!important; }
.pl30 { padding-left: 30px!important; }
.pl40 { padding-left: 40px!important; }
.pl50 { padding-left: 50px!important; }
.pl60 { padding-left: 60px!important; }
.pl70 { padding-left: 70px!important; }
.pl80 { padding-left: 80px!important; }
.pl90 { padding-left: 90px!important; }
.pl100 { padding-left: 100px!important; }
.pl110 { padding-left: 110px!important; }
.pl120 { padding-left: 120px!important; }
.pl130 { padding-left: 130px!important; }
.pl140 { padding-left: 140px!important; }
.pl150 { padding-left: 150px!important; }
.pl160 { padding-left: 160px!important; }
.pl170 { padding-left: 170px!important; }
.pl180 { padding-left: 180px!important; }
.pl190 { padding-left: 190px!important; }
.pl200 { padding-left: 200px!important; }
.pl210 { padding-left: 210px!important; }
.pl220 { padding-left: 220px!important; }
.pl230 { padding-left: 230px!important; }
.pl240 { padding-left: 240px!important; }
.pl250 { padding-left: 250px!important; }
.pl260 { padding-left: 260px!important; }
.pl270 { padding-left: 270px!important; }
.pl280 { padding-left: 280px!important; }
.pl290 { padding-left: 290px!important; }
.pl300 { padding-left: 300px!important; }
.pt0 { padding-top: 0px!important; }
.pt5 { padding-top: 5px!important; }
.pt10 { padding-top: 10px!important; }
.pt20 { padding-top: 20px!important; }
.pt30 { padding-top: 30px!important; }
.pt40 { padding-top: 40px!important; }
.pt50 { padding-top: 50px!important; }
.pt60 { padding-top: 60px!important; }
.pt70 { padding-top: 70px!important; }
.pt80 { padding-top: 80px!important; }
.pt90 { padding-top: 90px!important; }
.pt100 { padding-top: 100px!important; }
.pt110 { padding-top: 110px!important; }
.pt120 { padding-top: 120px!important; }
.pt130 { padding-top: 130px!important; }
.pt140 { padding-top: 140px!important; }
.pt150 { padding-top: 150px!important; }
.pt160 { padding-top: 160px!important; }
.pt170 { padding-top: 170px!important; }
.pt180 { padding-top: 180px!important; }
.pt190 { padding-top: 190px!important; }
.pt200 { padding-top: 200px!important; }
.pt210 { padding-top: 210px!important; }
.pt220 { padding-top: 220px!important; }
.pt230 { padding-top: 230px!important; }
.pt240 { padding-top: 240px!important; }
.pt250 { padding-top: 250px!important; }
.pt260 { padding-top: 260px!important; }
.pt270 { padding-top: 270px!important; }
.pt280 { padding-top: 280px!important; }
.pt290 { padding-top: 290px!important; }
.pt300 { padding-top: 300px!important; }
.pr0 { padding-right: 0px!important; }
.pr5 { padding-right: 5px!important; }
.pr10 { padding-right: 10px!important; }
.pr20 { padding-right: 20px!important; }
.pr30 { padding-right: 30px!important; }
.pr40 { padding-right: 40px!important; }
.pr50 { padding-right: 50px!important; }
.pr60 { padding-right: 60px!important; }
.pr70 { padding-right: 70px!important; }
.pr80 { padding-right: 80px!important; }
.pr90 { padding-right: 90px!important; }
.pr100 { padding-right: 100px!important; }
.pr110 { padding-right: 110px!important; }
.pr120 { padding-right: 120px!important; }
.pr130 { padding-right: 130px!important; }
.pr140 { padding-right: 140px!important; }
.pr150 { padding-right: 150px!important; }
.pr160 { padding-right: 160px!important; }
.pr170 { padding-right: 170px!important; }
.pr180 { padding-right: 180px!important; }
.pr190 { padding-right: 190px!important; }
.pr200 { padding-right: 200px!important; }
.pr210 { padding-right: 210px!important; }
.pr220 { padding-right: 220px!important; }
.pr230 { padding-right: 230px!important; }
.pr240 { padding-right: 240px!important; }
.pr250 { padding-right: 250px!important; }
.pr260 { padding-right: 260px!important; }
.pr270 { padding-right: 270px!important; }
.pr280 { padding-right: 280px!important; }
.pr290 { padding-right: 290px!important; }
.pr300 { padding-right: 300px!important; }
.pb0 { padding-bottom: 0px!important; }
.pb5 { padding-bottom: 5px!important; }
.pb10 { padding-bottom: 10px!important; }
.pb20 { padding-bottom: 20px!important; }
.pb30 { padding-bottom: 30px!important; }
.pb40 { padding-bottom: 40px!important; }
.pb50 { padding-bottom: 50px!important; }
.pb60 { padding-bottom: 60px!important; }
.pb70 { padding-bottom: 70px!important; }
.pb80 { padding-bottom: 80px!important; }
.pb90 { padding-bottom: 90px!important; }
.pb100 { padding-bottom: 100px!important; }
.pb110 { padding-bottom: 110px!important; }
.pb120 { padding-bottom: 120px!important; }
.pb130 { padding-bottom: 130px!important; }
.pb140 { padding-bottom: 140px!important; }
.pb150 { padding-bottom: 150px!important; }
.pb160 { padding-bottom: 160px!important; }
.pb170 { padding-bottom: 170px!important; }
.pb180 { padding-bottom: 180px!important; }
.pb190 { padding-bottom: 190px!important; }
.pb200 { padding-bottom: 200px!important; }
.pb210 { padding-bottom: 210px!important; }
.pb220 { padding-bottom: 220px!important; }
.pb230 { padding-bottom: 230px!important; }
.pb240 { padding-bottom: 240px!important; }
.pb250 { padding-bottom: 250px!important; }
.pb260 { padding-bottom: 260px!important; }
.pb270 { padding-bottom: 270px!important; }
.pb280 { padding-bottom: 280px!important; }
.pb290 { padding-bottom: 290px!important; }
.pb300 { padding-bottom: 300px!important; }
/* link
------------------------------------------------------------*/
a { outline: none; }
a:link {
    color: #F36;
    text-decoration: none;
}
a:visited {
    color: #F36;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #09F;
}
/* text
------------------------------------------------------------*/
.bold { font-weight: bold; }
.txtRight { text-align: right; }
.txtCenter { text-align: center; }
.txtLeft { text-align:left!important; }
.txt14 { font-size: 14px; }
.txt18 { font-size: 18px!important; }

.txt90 { font-size: 90%; }
.txt120 { font-size: 120%; }
.txt140 { font-size: 140%; }
.txt160 { font-size: 160%; }
.txt180 { font-size:180%; }
.txtPink { color: #F36!important; }
.txtYellow { color:#FF0; }
.txtBlue { color:#09C; }
.txtBlue02 { color:#007FFF; }
.txtRed { color:#F00; }
.txtOrange { color:#F60; }
.txtGray {	color:#CCC;}
.txtPurple { color:#CC6699; }

/* form
------------------------------------------------------------*/
.input100per,
.input80per,
.input50per,
.input25per,
.input50,
.input80,
.input100,
.input150,
.input200,
.input250,
.input350,
.input500,
textarea { padding: 3px; border: 1px solid #CCC; box-sizing:border-box;}
.input100per { width:98%; }
.input80per { width:78%; }
.input50per { width:48%; }
.input25per { width:24%; }
.input50 { width:50px; }
.input80 { width:80px; }
.input100 { width:100px; }
.input150 { width:150px; }
.input200 { width:200px; }
.input250 { width:250px; }
.input350 { width:350px; }
.input500 { width:500px; }
.textarea500 { width:500px; }


@media screen and ( max-width:768px ) {
.input100per,
.input80per,
.input50per,
.input25per,
.input50,
.input80,
.input100,
.input150,
.input200,
.input250,
.input350,
.input500,
textarea { width:100%; }

}
/* etc
------------------------------------------------------------*/
.hide {
    display:none;
}
.line_dot { border-bottom: 1px dotted #666; }
.caption {
    font-size: 11px;
    margin-top: 5px;
    color: #999;
}
.caption.caption_pink{
    color:#ff3366;
}

label.active {
    font-weight: bold;
    color: #F90;
}

.block .btn {
    text-align: center;
}

.block .btn .loader {
    padding-top: 3px;
    padding-left: 5px;
    display: none;
}

.block .btn .message {
    padding-top: 10px;
    font-size: 12px;
    display: none;
}

.block .btn .message span {
    background-image: url(/common/img/icon_success.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 18px;
}



/* placeholder
------------------------------------------------------------*/
input::-webkit-input-placeholder{
color: #7ECEF4;
}


input:-moz-placeholder{
color: #7ECEF4;
}


input:-ms-input-placeholder{
color: #7ECEF4;
}

textarea::-webkit-input-placeholder{
color: #7ECEF4;
}


textarea:-moz-placeholder{
color: #7ECEF4;
}


textarea:-ms-input-placeholder{
color: #7ECEF4;
}

/* Step
=============================================================================*/

.step-wrapper {
	margin:0 0 30px 0;
}
.step-area {
	margin:0 auto ;
	width: 960px;
}
.step-area ul li {
	float:left;
	height:70px;
}
.step-area ul li p {
	padding-left:20px;
}
.step-area ul li span.small {
	font-size:12px;
	display:block;
	padding-top:14px;
	line-height:1.4em;
}
.step-area ul li span.txt {
	font-size:18px;
	display:block;
	line-height:1.4em;
	font-weight: bold;
}
.step-area ul li.step01 {
	width:33.33%;
}
.step-area ul li.step02 {
	width:33.33%;
}
.step-area ul li.step03 {
	width:33.33%;
}

/*step01*/
.step-area ul.step01-now li.step01 {
	background:url("../img/step-ar001.gif") #0e7ac4 no-repeat right 0;
	color:#FFFFFF;
}
.step-area ul.step01-now li.step02 {
	background:url("../img/step-ar003.gif") #f1f1f1 no-repeat right 0;
}
.step-area ul.step01-now li.step03 {
	background:#f1f1f1;
}

/*step02*/
.step-area ul.step02-now li.step01 {
	background:url("../img/step-ar002.gif") #f1f1f1 no-repeat right 0;
}
.step-area ul.step02-now li.step02 {
	background:url("../img/step-ar001.gif") #0e7ac4 no-repeat right 0;
	color:#FFFFFF;
}
.step-area ul.step02-now li.step03 {
	background:#f1f1f1;
}

/*step03*/
.step-area ul.step03-now li.step01 {
	background:url("../img/step-ar003.gif") #f1f1f1 no-repeat right 0;
}
.step-area ul.step03-now li.step02 {
	background:url("../img/step-ar002.gif") #f1f1f1 no-repeat right 0;
}
.step-area ul.step03-now li.step03 {
	background:#0e7ac4;
	color:#FFFFFF;
}

@media screen and (max-width: 679px){
	.step-wrapper {
		padding:0 10px;
		margin:0 0 20px 0;
	}
	.step-area {
		margin-bottom:25px;
		width: auto !important;
	}
	.step-area ul li {
		float:none;
		height:auto;
	}
	.step-area ul li p {
		padding:5px 10px;
	}
	.step-area ul li span.small {
		font-size:10px;
		display:inline;
		padding-top:0;
		padding-right:10px;
	}
	.step-area ul li span.txt {
		font-size:14px;
		display:inline;
	}
	.step-area ul li.step01 {
		width:auto;
		padding-bottom:12px;
	}
	.step-area ul li.step02 {
		width:auto;
		padding-bottom:12px;
	}
	.step-area ul li.step03 {
		width:auto;
	}

	/*step01*/
	.step-area ul.step01-now li.step01 {
		background:url("../img/step-ar004.gif") #0e7ac4 no-repeat center bottom;
		background-size:1000px auto;
	}
	.step-area ul.step01-now li.step02 {
		background:url("../img/step-ar004.gif") #f1f1f1 no-repeat center bottom;
		background-size:1000px auto;
	}

	/*step02*/
	.step-area ul.step02-now li.step01 {
		background:url("../img/step-ar004.gif") #f1f1f1 no-repeat center bottom;
		background-size:1000px auto;
	}
	.step-area ul.step02-now li.step02 {
		background:url("../img/step-ar004.gif") #0e7ac4 no-repeat center bottom;
		background-size:1000px auto;
	}

	/*step03*/
	.step-area ul.step03-now li.step01 {
		background:url("../img/step-ar004.gif") #f1f1f1 no-repeat center bottom;
		background-size:1000px auto;
	}
	.step-area ul.step03-now li.step02 {
		background:url("../img/step-ar004.gif") #f1f1f1 no-repeat center bottom;
		background-size:1000px auto;
	}
}

/* popup */
 #cboxContent { background: #E7F0F6; }
 html, body { height: 100%; }
 .box-code {
     width: 100%;
     height: 100%;
     margin: 0 auto;
     padding: 20px;
     border: none;
     background: #E7F0F6;
     box-sizing: border-box;
 }

 .box-code .font-color-green {
     color: #009933;
 }

 .box-code h3 {
     margin: 0 0 10px 0;
     padding: 0;
     font-size: 107%;
     font-weight: bold;
 }

 .box-code .box-code-body {
     width: 100%;
     margin: 0;
     padding: 20px;
     background: #FFFFFF;
     border: #CCCCCC dashed 1px;
     box-sizing: border-box;
      min-height: 93%;
     max-height: 93%;
     overflow: auto;
 }

 .font-color-gray {
     color: #666666;
 }


/* validation error */
input.error, select.error, textarea.error {
    background: #FFEDF5!important;
    border: #ffb0bd solid 1px!important;
    color: #888!important;
    font-weight: normal;
}
label.error {
    color: red;
    font-style: italic;
}

#myForm label.error {
	display: inherit;
}
