@charset "utf-8";
body {
	background: #fff;
	font-weight: 300;
	text-align: left;
	font-family: 'Noto Sans JP', '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
	line-height: 1.6;
	color: #021E2C;
	word-break: normal;
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

#wrapper .alert_message {
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	background-color: #F36;
	text-align: center;
	padding: 15px;
}

#wrapper .show_error {
	text-align: center;
	width: 100%;
	top: 50%;
	margin-top: -1em;
	left: 0;
	font-size: 14px;
}

#wrapper .show_error h2 {
	font-weight: bold;
}

#content {
	margin-right: auto;
	margin-left: auto;
	max-width: 100% !important;
}

/*	必須項目　*/

.req .box_left:after {
	content: "";
	background: url(../img/required.jpg) no-repeat right top;
	width: 34px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.or_req .box_left:after {
	content: "";
	background: url(../img/required.jpg) no-repeat right top;
	width: 34px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

/*	注釈　*/

.memo {
	font-size: 95%;
	color: #888;
	padding-top: 5px;
}

/* ご意見フォーム */

.help-detail .feedback .tit {
	display: inline-block;
	font-weight: 700;
	vertical-align: middle;
}

.help-detail .feedback .areaBtn {
	display: inline-block;
	margin-left: 40px;
	vertical-align: middle;
}

.help-detail .feedback .areaBtn .input_box label {
	display: inline-block;
	padding: 2px 20px;
	width: 120px;
	color: #FC8D00;
	text-align: center;
	border: solid 1px #FC8D00;
	border-radius: 30px;
	box-sizing: border-box;
	cursor: pointer;
}

.help-detail .feedback .areaBtn .input_box label+label {
	margin-left: 20px;
}

.help-detail .feedback .message {
	font-weight: 700;
}

.help-detail .feedback .form textarea {
	margin-top: 15px;
	width: 100%;
	border: solid 1px #021E2C;
	border-radius: 3px;
	box-sizing: border-box;
	font-size: 15px;
}

.help-detail .feedback .form .submit {
	margin-top: 10px;
}

.help-detail .feedback .form input[type="submit"] {
	padding: 2px 20px;
	width: 100px;
	color: #fff;
	background: #021E2C;
	border: solid 1px #021E2C;
	border-radius: 30px;
}

.help-detail .feedback .form .box.tbl_row_3 {
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.help-detail .feedback {
		text-align: center;
	}
	.help-detail .feedback .areaBtn {
		margin: 20px 0 0;
	}
}

/* パーツセット（名前）
******************************************************************/

/*　項目　*/

.input_name dt {
	float: left;
	padding-right: 10px;
}

/*　内容　*/

.input_name dd {
	float: left;
	margin-right: 10px;
}

/*　フォーム　*/

.input_name input {
	width: 120px;
}

/* パーツセット（メールアドレス）
******************************************************************/

/*　確認時の文言（確認のためもう一度入力してください。）　*/

.input_mail .conf .txt {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 95%;
	color: #666;
}

/* パーツセット（電話番号）
******************************************************************/

/*　フォーム（1番目）　*/

.input_tel .tel1 {
	width: 70px;
}

/*　フォーム（2番目）　*/

.input_tel .tel2 {
	width: 70px;
}

/*　フォーム（3番目）　*/

.input_tel .tel3 {
	width: 70px;
}

/* パーツセット（日付・生年月日）
******************************************************************/

/*　年　*/

.input_date .year {
	padding-right: 10px;
	padding-left: 5px;
}

/*　月　*/

.input_date .month {
	padding-right: 10px;
	padding-left: 5px;
}

/*　日　*/

.input_date .day {
	padding-left: 5px;
}

/* パーツセット（見出し）
******************************************************************/

.parts_title {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
}

/* パーツセット（テキスト）
******************************************************************/

.parts_text {
	padding-bottom: 20px;
}

/* パーツセット（ラジオボタン・チェックボックス）
******************************************************************/

.input_radio01 label {
	padding-right: 10px;
}

.input_radio02 label {
	margin-bottom: 5px;
	display: block;
}

/* パーツセット（住所）
******************************************************************/

/*　郵便番号（前半）　*/

.input_address .post1 {
	width: 60px;
}

/*　郵便番号（後半）　*/

.input_address .post2 {
	width: 80px;
}

/*　見出し　*/

.input_address .title {
	padding-top: 10px;
	padding-bottom: 5px;
}

/* パーツセット（罫線）
******************************************************************/

.input_line {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* エラーメッセージ
******************************************************************/

.errMessageBox {
	margin: 20px;
	color: red;
}

/* ボタン
******************************************************************/

.input_type02 {
	cursor: pointer;
	font-size: 15px;
}

.input_type02.input_type02_color_red {
	background: #BF0202;
	border: none;
}

.input_type02.input_type02_color_red:hover {
	opacity: 0.8;
}

.layoutHorizon {
	display: inline-flex;
	width: 100%;
}

/* レスポンシブ対応
***********************************************************************/

@media screen and ( max-width:768px) {
	.form_content {
		padding: 0 10px;
	}
	.box {
		display: block;
	}
	.box_left, .box_right {
		width: 100%;
	}
}