@charset "utf-8";


/* COMMON */

#status_bar {
    display: none;
}

#wrapper {
    width: 100%;
}

/* HEADER */
header {
    background-color: #1A66B3;
}

#header .inner {
    width: 980px;
    position: relative;
    margin: 0 auto;
    padding: 8px 0;
}

#header2 {
    background-color: #F1F1F1;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
}

#header2 .inner {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

#header2 .page_navi {
    float: left;
}

#header2 .page_navi li {
    float: left;
    margin-right: 1px;
}

#header2 .page_navi li a {
    padding: 8px 15px 8px 10px;
    display: block;
    color: #333;
}

#header2 .page_navi li.active a,
#header2 .page_navi li a:hover {
    background-color: #F9F9F9;
    text-decoration: none;
}

#header2 .page_navi li.form_add a {
    background: url(../img/icon_add.png) no-repeat;
    background-position: 15px 0.7em;
    padding-left: 35px;
}

#header2 .page_navi li.form_list a {
    background: url(../img/icon_list.png) no-repeat;;
    background-position: 15px 0.7em;
    padding-left: 35px;
}

#header2 .page_navi li.active a,
#header2 .page_navi li a:hover {
    background-color: #F9F9F9;
    text-decoration: none;
}

/* FOOTER */
footer {
    background-color: #1A66B3;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* MAIN */
#content {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 80px;
}

#content.mini {
    width: auto;
	padding: 15px;
}

/* STATUS BAR */
#status_bar {
    color: #FFF;
    background-color: #F36;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 40px;
    height: 40px;
    z-index: 9999;
    font-weight: bold;
}