/* LIST */
.tool_list {
}
.tool_list.type2 {
    position: absolute;
    top: -35px;
    right: 0px;
}

.tool_list li{
    font-size: 12px;
    float: left;
}
.tool_list li a{
    color: #666;
    background-image: url(../../common/img/icon_edit.png);
    background-repeat: no-repeat;
    background-position: left 0.5em;
    padding-left: 23px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    padding-right: 17px;
}
.tool_list li a:hover,
.tool_list li.active a{
    color: #F36;
    text-decoration: none;
    font-weight: bold;
}

.tool_list li.edit a{
    background-image: url(../img/icon_edit.png);
}
.tool_list li.setting a{
    background-image: url(../img/icon_conf.png);
}
.tool_list li.del a {
    background-image: url(../img/icon_del.png);
}
.tool_list li.log a {
    background-image: url(../img/icon_mail.png);
    background-position: left 0.7em;
}
.tool_list li.analyst a {
    background-image: url(../img/icon_graph.png);
}
.tool_list li.copy a {
    background-image: url(../img/icon_copy.png);
}

/* 左メニュー */
.inner {
    overflow: hidden;
}

.inner_right {
    margin-left: 320px;
}

.parts {
    width: 300px;
    position: absolute;
    margin-bottom: 20px;
    margin-top: 0 !important;
}


.setting_list li {
    margin-bottom: 10px;
    font-size: 12px;
}

.setting_list a {
    font-weight: bold;
    color: #333;
    background-color: #F1F1F1;
    display: block;
    min-width: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.ttl-item-list {
    font-weight: bold;
    text-align: right;
    padding-bottom: 3px;
}


.item-list {
    border: 1px dotted;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.sys-h2-title {
    margin-bottom: 15px;
    position: relative;
}


.sys-h2-title h2 {
    border-left: 6px solid #19404b;
    padding: 0 30px 0 14px;
    line-height: 1.4em;
    font-size: 16px;
    font-weight: bold;
}


.form_error {
    background-image: url(../img/icon_error.png);
    background-repeat: no-repeat;
    background-position: left 0.5em;
    color: #C36;
    padding-left: 20px;
    padding-top: 5px;
}




/*	必須項目　*/
.hissu {
    color: #F00;
    padding-right: 5px;
}

/*************** notification ***************/

.notification {
    position: relative;
    margin-bottom: 10px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    background-color: #DDEEFF;
    font-size: 12px;
}

.notification.attention {
    background-image: url(../img/icon_excla.png);
    background-color: #FFFBCC;
    border-top-color: #FC0;
    border-right-color: #FC0;
    border-bottom-color: #FC0;
    border-left-color: #FC0;
}

.notification.attention a { margin-left: 15px; }

.notification.error {
    background-image: url(../img/icon_error.png);
    background-color: #FFCECE;
    border-top-color: #F03;
    border-right-color: #F03;
    border-bottom-color: #F03;
    border-left-color: #F03;
    color: #333;
    font-size: 11px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}

.notification.info {
    background-image: url(../img/icon_information.png);
    background-color: #DBE3FF;
    border-top-color: #3560D8;
    border-right-color: #3560D8;
    border-bottom-color: #3560D8;
    border-left-color: #3560D8;
}

.notification.success {
    background-image: url(../img/icon_success.png);
    border-top-color: #0066CC;
    border-right-color: #0066CC;
    border-bottom-color: #0066CC;
    border-left-color: #0066CC;
}

/* アコーディオンリスト
------------------------------------------------------------*/
.acordion dt { cursor: pointer; }

.acordion dd { display: none; }

/* inpu_type
------------------------------------------------------------*/
.input_type01 {
    font-weight: bold;
    color: #fff!important;
    text-align: center;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    cursor: pointer;
    background-color: #333;
    border: 2px solid #000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.input_type01:hover { background-color: #414141; }

.input_type02 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0053ad;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0053ad), to(#00438c));
    background: -webkit-linear-gradient(#0053ad, #00438c);
    background: -moz-linear-gradient(#0053ad, #00438c);
    background: -ms-linear-gradient(#0053ad, #00438c);
    background: -o-linear-gradient(#0053ad, #00438c);
    background: linear-gradient(#0053ad, #00438c);
    color: #FFF;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    border: 1px solid #004896;
    -webkit-box-shadow: #666 0px 0px 2px;
    -moz-box-shadow: #666 0px 0px 2px;
    box-shadow: #666 0px 0px 2px;
    cursor: pointer;
    font-size: 12px;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.input_type02:hover {
    background: #008BDC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#008BDC), to(#0079BF));
    background: -webkit-linear-gradient(#008BDC, #0079BF);
    background: -moz-linear-gradient(#008BDC, #0079BF);
    background: -ms-linear-gradient(#008BDC, #0079BF);
    background: -o-linear-gradient(#008BDC, #0079BF);
    background: linear-gradient(#008BDC, #0079BF);
    border-top-color: #009EFA;
    border-right-color: #009EFA;
    border-bottom-color: #009EFA;
    border-left-color: #009EFA;
}

.input_type02.input_type02_color_red{
    background: #BF0202;
    border:none;
}
.input_type02.input_type02_color_red:hover{
    opacity:0.8;
}
.input_type03 {
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FCFCFC;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FCFCFC), to(#E2E2E2));
    background: -webkit-linear-gradient(#FCFCFC, #E2E2E2);
    background: -moz-linear-gradient(#FCFCFC, #E2E2E2);
    background: -ms-linear-gradient(#FCFCFC, #E2E2E2);
    background: -o-linear-gradient(#FCFCFC, #E2E2E2);
    background: linear-gradient(#FCFCFC, #E2E2E2);
    font-weight: bold;
    padding-top: 5px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-left: 40px;
    border: 1px solid #D3D3D3;
    -webkit-box-shadow: #666 0px 0px 2px;
    -moz-box-shadow: #666 0px 0px 2px;
    box-shadow: #666 0px 0px 2px;
    cursor: pointer;
    font-size: 12px;
}

.input_type03:hover {
    background: #DCE8F3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FCFCFC), to(#DCE8F3));
    background: -webkit-linear-gradient(#FCFCFC, #DCE8F3);
    background: -moz-linear-gradient(#FCFCFC, #DCE8F3);
    background: -ms-linear-gradient(#FCFCFC, #DCE8F3);
    background: -o-linear-gradient(#FCFCFC, #DCE8F3);
    background: linear-gradient(#FCFCFC, #DCE8F3);
    border-top-color: #BDD5E9;
    border-right-color: #BDD5E9;
    border-bottom-color: #BDD5E9;
    border-left-color: #BDD5E9;
}

/* リスト
------------------------------------------------------------*/
ol.kiyaku ol.kiyaku,
ol.kiyaku ul.kiyaku,
ul.kiyaku ol.kiyaku,
ul.kiyaku ul.kiyaku { margin-top: 20px; }

ol.kiyaku li .title,
ul.kiyaku li .title { margin-bottom: 5px; }

ul.kiyaku {
    margin-left: 2em;
    margin-bottom: 20px;
}

ul.kiyaku li {
    list-style-position: outside;
    list-style-type: square;
}

ul.kiyaku li ul.kiyaku li { list-style-type: disc; }

ul.kiyaku li ul.kiyaku ul.kiyaku li { list-style-type: circle; }

ol.kiyaku {
    margin-left: 2em;
    margin-bottom: 20px;
}

ol.kiyaku li {
    list-style-position: outside;
    list-style-type: decimal;
    margin-bottom: 20px;
}

ol.kiyaku li ol.kiyaku li {
    list-style-type: none;
    margin-bottom: 10px;
}

ol.kiyaku li ol.kiyaku.decimal li {
    list-style-position: outside;
    list-style-type: decimal;
}

ol.kiyaku li ol.kiyaku li span {
    list-style-type: none;
    margin-right: 0.5em;
    margin-left: -2em;
}

/* 横並び */
.kiyakuFl { margin-left: 0em!important; }

.kiyakuFl li {
    float: left;
    margin-left: 2em;
    margin-right: 10px;
}

/* table_type
------------------------------------------------------------*/
table.table_type_01 {
    margin-bottom: 20px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #E5E5E5;
    border-left-color: #E5E5E5;
}

table.table_type_01 th,
table.table_type_01 td {
    font-size: 12px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #E5E5E5;
    border-bottom-color: #E5E5E5;
}

table.table_type_01 th {
    background-color: #FCFCFC;
    width: 175px;
}

table.table_type_01 thead th { background-color: #E7F0F8; }

table.table_type_01 td.active {
    background:hsla(55,100%,93%,1.00);
}

table.table_type_02 {
    background-color: #FFF;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

table.table_type_02 th,
table.table_type_02 td { font-size: 120%; }

table.table_type_02 th {
    padding: 10px;
    font-weight: bold;
    text-align: right;
}

table.table_type_02 th.th_texttop {
    vertical-align: top;
    padding-top: 25px;
}

table.table_type_02 td { padding: 10px; }

table.table_type_02 td input {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #CCC;
    font-size: 12px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    color: #666;
}

table.table_type_02 td .ime_dis {
    width: 350px!important;
    margin-bottom: 10px;
}

table.table_type_02 td .mailaddress {
    width: 350px;
    float: left;
}

table.table_type_02 td textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 3px solid #cccccc;
    height: 200px;
    padding: 8px;
    width: 480px!important;
}

table.table_type_02 tr.noPadding th,
table.table_type_02 tr.noPadding td{
    padding:0 10px;

}


table.table_type_03 {
    margin-bottom: 20px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #E5E5E5;
    border-left-color: #E5E5E5;
}

table.table_type_03 th,
table.table_type_03 td {
    font-size: 12px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #E5E5E5;
    border-bottom-color: #E5E5E5;
}

table.table_type_03 th { background-color: #FCFCFC; }

table.table_type_03 td { }


.tab_innner li {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
    font-size: 12px;
}

.tab_innner li p {
    font-weight: bold;
    color: #333;
    background-color: #F1F1F1;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.tab_innner li p:hover {
    text-decoration: none;
    background-color: #CCC;
}

.tab_innner li p.active {
	color: #FFF;
    background-color: #06C;
}

.tab_innner li p.active:hover {
    background-color: #00509F;
}

/* box_type
------------------------------------------------------------*/
.box_type00 {
	padding-top: 70px;
}

.box_nofree {
    background-color: #FEF9CD;
    padding: 20px;
    color: #000;
    margin-bottom: 20px;
    font-size: 16px;
}
.box_nofree .btn>a{
    width:60%;
    display:inline-block;
}
.box_type00 .title {
    font-weight: bold;
    color: #06C;
    margin-bottom: 20px;
    font-size: 14px;
}

.box_type00 .title02 {
    font-weight: bold;
    color: #06C;
    margin-bottom: 10px;
    font-size: 18px;
}

.box_type01 {
    border: 3px solid #06C;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}

.box_type01 .tab {
    position: absolute;
    top: -37px;
}

.box_type01 .tab li {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
    font-size: 12px;
}

.box_type01 .tab li a {
    font-weight: bold;
    color: #333;
    background-color: #F1F1F1;
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    min-width: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.box_type01 .tab li.back a {
    background-image: url(../img/icon_back.png);
    background-repeat: no-repeat;
    background-position: 9px 1em;
}

.box_type01 .tab li.active a {
    color: #FFF;
    background-color: #06C;
}

.box_type01 .tab li a:hover {
    text-decoration: none;
    background-color: #CCC;
}

.box_type01 .tab li.active a:hover { background-color: #00509F; }

.box_type01 .tab02 { }

.box_type01 .tab02 li {
    float: left;
    margin-right: 0px;
    margin-left: 7px;
    font-size: 11px;
}

.box_type01 .tab02 li a {
    color: #333;
    background-color: #F1F1F1;
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

.box_type01 .tab02 li a.active {
    color: #FFF;
    background-color: #F90;
}

.box_type01 .tab02 li a:hover {
    text-decoration: none;
    background-color: #CCC;
}

.box_type01 .tab02 li a.active:hover { background-color: #FC3; }

.box_type01 h2.title {
    background-color: #06C;
    font-size: 14px;
    color: #FFF;
    padding-left: 20px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

.box_type01 .btn_form_add,
.box_type01 .btn_taikai {
    position: absolute;
    top: 7px;
    right: 20px;
}

.box_type01 .btn_form_add a,
.box_type01 .btn_taikai a {
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
    background-image: url(../img/icon_add_white.png);
    background-repeat: no-repeat;
    background-position: 0px 0em;
    padding-left: 20px;
}

.box_type01 .btn_form_add a:hover,
.box_type01 .btn_taikai a:hover { text-decoration: underline; }

.box_type01 .btn_taikai a { background-image: url(../img/icon_taikai_white.png); }

.box_type01 .inner { padding: 20px; }

.box_type01 .inner_padding0 { padding: 0px; }

/* 見出し
------------------------------------------------------------*/
.modTitle01{
    font-weight:bold;
    font-size:32px;
    color:#CCC;
    margin:0 0 30px;
}
.modTitle01.modTitle01_center{
    text-align:center;
}
/* ボタン
------------------------------------------------------------*/
.modBtn01 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #333333!important;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-weight: bold;
    padding: 3px 20px;
    background: -moz-linear-gradient( top, #ffffff 0%, #f4f4f4 50%, #e2e2e2 68%, #f0f0f0);
    background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.50, #f4f4f4), color-stop(0.68, #e2e2e2), to(#f0f0f0));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    -moz-box-shadow: 0px 0px 0px rgba(000,000,000,0), inset 0px 0px 2px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 0px rgba(000,000,000,0), inset 0px 0px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 0px rgba(000,000,000,0), inset 0px 0px 2px rgba(255,255,255,1);
    cursor: pointer;
}

.modBtn01:hover {
    text-decoration: none;
    opacity: 0.7;
}

.modBtn02 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #ffffff!important;
    padding: 5px 30px;
    background: -moz-linear-gradient( top, #008bdc 0%, #008bdc 50%, #007fc9 51%, #007fc9);
    background: -webkit-gradient( linear, left top, left bottom, from(#008bdc), color-stop(0.50, #008bdc), color-stop(0.51, #007fc9), to(#007fc9));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #007fc8;
    -moz-box-shadow: 0px 0px 1px rgba(0,127,200,0.7), inset 0px 0px 3px rgba(0,158,250,1);
    -webkit-box-shadow: 0px 0px 1px rgba(0,127,200,0.7), inset 0px 0px 3px rgba(0,158,250,1);
    box-shadow: 0px 0px 1px rgba(0,127,200,0.7), inset 0px 0px 3px rgba(0,158,250,1);
    cursor: pointer;
}

.modBtn02:hover {
    text-decoration: none;
    opacity: 0.7;
}

.modBtn02 .pdf {
    padding-right: 24px;
    background-image: url(../img/icon_pdf.gif);
    background-position: right 0em;
    background-repeat: no-repeat;
}

.modBtn03 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000000;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#172C3D), to(#000000));
    background: -webkit-linear-gradient(#172C3D, #000000);
    background: -moz-linear-gradient(#172C3D, #000000);
    background: -ms-linear-gradient(#172C3D, #000000);
    background: -o-linear-gradient(#172C3D, #000000);
    background: linear-gradient(#172C3D, #000000);
    font-weight: bold;
    color: #FFF!important;
    padding:5px 60px;
    border: 1px solid #000000;
    -webkit-box-shadow: #666 0px 0px 2px;
    -moz-box-shadow: #666 0px 0px 2px;
    box-shadow: #666 0px 0px 2px;
    cursor: pointer;
    font-size: 18px;
    font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.modBtn03:hover {
    background: #111316;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#294155), to(#111316));
    background: -webkit-linear-gradient(#294155, #111316);
    background: -moz-linear-gradient(#294155, #111316);
    background: -ms-linear-gradient(#294155, #111316);
    background: -o-linear-gradient(#294155, #111316);
    background: linear-gradient(#294155, #111316);
    border-color: #0F0F0F;
    text-decoration: none!important;
}
.modBtn04{
    border-radius:50px;
    font-size: 16px;
    font-weight:bold;
    color:#FFF!important;
    display:block;
    padding:10px;
}
.modBtn04:hover{
    text-decoration:none;
    opacity:0.8;
}
.modBtn04.modBtn04_green{
    background: #84BB3A;

}
.modBtn04.modBtn04_invalid{
    background: #CCC;

}
.modBtn04.modBtn04_invalid:hover{
    opacity:1;
}
/* 画像＆テキスト　横並び
------------------------------------------------------------*/
.lirt,
.ltri {margin-bottom: 20px;}

.lirt .text,
.ltri .text { width: 63%; }

.lirt .image,
.ltri .image { width: 35%; }

.lirt .text,
.ltri .image { float: right; }

.lirt .image img,
.ltri .image img {
    width: 100%;
    height: auto;
}

.lirt .image,
.ltri .text { float: left; }


/* テキスト
------------------------------------------------------------*/
.modTxtLink01 {
    color: #0066CC!important;
    text-decoration: underline!important;
}

.modTxtLink01:hover { text-decoration: none!important; }

.modTxtLead01{
    font-size:16px;
    padding:0 0 40px;
}
.modTxtLead01_center{
    text-align:center;
}



